*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, red , pink);
}
.calculator-main {

    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: minmax(120px, auto) repeat(5, 85px);

}



.calculator-main > button {
    cursor: pointer;
    font-size: 1.6rem;
    border:2px solid #ff9ca5;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, -1.75);


}

.calculator-main > button:hover {
    background-color: rgba(255, 255, 255, .20);
}

.span-two {
    grid-column: span 2;
}
.output {
    grid-column: 1 / -1;
    background-color: #ff5f65;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border:2px solid #ff3235;
    border-radius: 30px ;
}

.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}
.output .current-operand{
    color: white;
    font-size: 2.5rem;
}


